<style>

    fieldset {
        min-width: 0;
        padding: .35em .625em .75em;
        margin: 0;
        /*border: 0;*/
        border:1px solid #ccc;
        margin-bottom:10px;
    }
    legend {
        display: block;
        width: auto;
        padding: 0;
        margin-bottom: 0px;
        font-size: 14px;
        line-height: inherit;
        color: #333;
        border: 0;
        /*border-bottom: 1px solid #e5e5e5;*/
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        margin-left: -35px;
        width: 160px;
    }
</style>
<div class="loader_in_css" ng-show="loader"><img src="images/loader.GIF"/></div>
<div class="row" style="padding:10px;padding-top:0px;">
    <div class="alert alert-danger" id="err">{{errorMessage}}</div>
    <fieldset>
        <legend>Selected Registration</legend>
        <div class="table-responsive">
            <table class="table table-bordered" style="padding-bottom:0px;">
                <thead>
                <tr>
                    <th>Facility/Customer</th>
                    <th>Invoice #</th>
                    <th>Dealer Rep</th>
                    <th>Install Date</th>
                    <th>SPIFF $</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td>{{selectedRegistration.facilityName}}</td>
                    <td ng-if="selectedRegistration.invoiceUrl" ><a href="{{selectedRegistration.invoiceUrl}}" target="_blank">{{selectedRegistration.invoiceNumber}}</a></td>
                    <td ng-if="!selectedRegistration.invoiceUrl" >{{selectedRegistration.invoiceNumber}}<br><span class="text-danger" style="font-size:10px;"><strong>Missing Invoice</strong></span></td>
                    <td><span ng-if="selectedRegistration.partnerRepUserId">{{selectedRegistration.firstName}} {{selectedRegistration.lastName}}</span><span ng-if="!selectedRegistration.partnerRepUserId" class="text-danger" style="font-size:10px;"><strong>Missing Dealer Rep</strong></span><br ng-if="selectedRegistration.partnerRepUserId && (!selectedRegistration.isBankInfoExists || !selectedRegistration.isW9InfoExists || !selectedRegistration.isContactInfoExists)">
                        <span ng-if="selectedRegistration.partnerRepUserId && !selectedRegistration.isBankInfoExists" class="text-danger" style="font-size:10px;"><strong>Missing Bank info</strong></span><br ng-if="selectedRegistration.partnerRepUserId && (!selectedRegistration.isW9InfoExists || !selectedRegistration.isContactInfoExists)">
                        <span ng-if="selectedRegistration.partnerRepUserId && !selectedRegistration.isW9InfoExists" class="text-danger" style="font-size:10px;"><strong>Missing W9 info</strong></span><br ng-if="selectedRegistration.partnerRepUserId && !selectedRegistration.isContactInfoExists">
                        <span ng-if="selectedRegistration.partnerRepUserId && !selectedRegistration.isContactInfoExists" class="text-danger" style="font-size:10px;"><strong>Missing Contact info</strong></span>
                    </td>
                    <td>{{selectedRegistration.installDate}}</td>
                    <td>${{selectedRegistration.spiffAmount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <form enctype="multipart/form-data" name="uploadInvoice" id="uploadInvoice">
    <fieldset>
        <legend>Upload Invoice</legend>
        <div class="col-sm-12" style="padding-top:10px;padding-left:12px;">
            <div class="fileUpload btn btn-primary col-sm-3">
                <span>Choose file</span>
                <input
                    name="saleInvoiceFile"
                    type="file"
                    ng-model="files"
                    ngf-select="true"
                    ngf-change="handleFileSelection($files)"
                    ngf-max-size="2MB"
                    ngf-model-invalid="errorFile"
                    ngf-multiple="false" class="upload" id="uploadBtn"
                />
            </div>
            <div class="col-sm-8 text_box">
                <div class="col-sm-6">
                    <input 
                        id="uploadFile" 
                        placeholder="No file uploaded"
                        disabled="disabled"
                    />
                </div>
                <div class="col-sm-6">
                    <button 
                        type="button" 
                        class="btn btn-primary" 
                        id="invoice_button" 
                        ng-click="invoice_submit()"
                        ng-disabled="uploadInvoice.saleInvoiceFile.$error.maxSize || !files">
                        Upload
                    </button>
                </div>
            </div>
            <small 
                class="text-danger" 
                style="float: left;"
                ng-show="uploadInvoice.saleInvoiceFile.$error.maxSize">
                File too large {{errorFile[0].size / 1000000|number:1}}MB: max 2MB 
            </small>
        </div>
    </fieldset>
    </form>
    <fieldset ng-show="selectedRegistration.partnerRepUserId==null">
        <legend >Assign Dealer Rep</legend>
        <div class="col-sm-12" style="padding-top:10px;padding-left:0px;">
            <div class="col-sm-4 pull-left" >Select Recipient :</div>
            <div class="col-sm-8 pull-left" >
                <div class="col-sm-5">
                    <select ng-model="countSelector"
                            class="innerSelectpicker"
                            data-live-search="true"
                            data-size='8'
                            ng-change="changeCount(countSelector)">
                        <option  value="">Select Dealer Rep</option>
                        <option  ng-repeat="dealer in activePartnerReps"
                                 ng-class="setMissingInfo(dealer.isBankInfoExists,dealer.isW9InfoExists,dealer.isContactInfoExists,$index)"
                                 class="font-family:verdana;"
                                 data-select-watcher
                                 data-last="{{$last}}"
                                 value="{{dealer.userId}}"> &nbsp;{{dealer.firstName}} {{dealer.lastName}}</option>
                    </select>
                </div>
                <div class="col-sm-6"> <button type="button" class="btn btn-primary" id="update_dealer_btn" ng-click="update_dealer_submit()">Update</button></div>

            </div>
        </div>
    </fieldset>

    <div class="row col-sm-12">
        <button type="button" class="btn btn-default pull-right" ng-click="$hide()">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').selectpicker();
        $('#uploadBtn').on('change', function(){
            var path = $( "#uploadBtn" ).val();
            var filename = path.replace(/^.*\\/, "");
            $("#uploadFile").val(filename);
        });
    });
</script>