<div class="modal-header"> <h4 class="modal-title">Warning !</h4></div>
<div class="modal-body">Please select at least one record to submit.</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="closeEmptyRequestPrompt()">OK</button>
</div>