
a:link {
    color: #00aacd;
    text-decoration: none;
}
a:visited, a:hover, a:active {
    color: #006496;
    text-decoration: underline;
}
select.icon-menu option {
    background-repeat:no-repeat;
    background-position:bottom left;
    padding-left:30px;
}
.text-color{
    color:orange;
}
.bgRed {
    /*background-image: url('../images/precor-logo.PNG');*/
    background-color: red;

}

.bgBlue {
    /*background-image: url('../images/precor-logo.png');*/
}
.left_menu li{
    margin-top:5px;

}
.left_menu li button{
    width:100%;
    background-color:#006496;
    color:#fff;
}
.left_menu li button:hover{
    background-color:#8a9b4a;
    color:#fff;
}
.left_menu li button:active{
    background-color:maroon;
}
.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
&.ng-enter {
     opacity: 0;
&.ng-enter-active {
     opacity: .5;
 }
}
&.ng-leave {
     opacity: .5;
&.ng-leave-active {
     opacity: 0;
 }
}
}
.table tr th,td{
    text-align:center;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.upload_file {
    width: 100px;
    height: 34px;
    color: #fff;
    background-color: #c64B0B;
    border-radius: 3px;
    border: 1px solid #c64b0b;
}
fieldset {
    min-width: 0 !important;
    padding: .35em .625em .75em !important;
    margin: 0 !important;
    /*border: 0;*/
    border:1px solid #ccc !important;
    margin-bottom:10px !important;
    padding-top:10px !important;
    margin-top:0px !important;
}
legend {
    display: block !important;
    width: auto !important;
    padding: 0 !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
    line-height: inherit !important;
    color: #333 !important;
    border: 0 !important;
    /*border-bottom: 1px solid #e5e5e5;*/
}
.loader_in_css{top:30%;left:45%;position:absolute;z-index:1}
#err{display:none}
.existInfo{color:orange;margin-left:5px;}
.edit_class{color: #006496;cursor:pointer;margin-left:5px;}
.success_class{color: green; margin-left:5px;}
.edit_missing_class{color: #ccc;cursor:pointer;margin-left:5px;}
.link_main{margin-top:20px;margin-right:15px;}
.top_custom_nav{margin-bottom:5px;}
.top_custom_nav h2{margin-left:15px;}
#invoice_button{color: #fff; background-color: #c64B0B;border-radius: 3px;border: 1px solid #c64b0b;margin-left:10px;}
#uploadFile{height: 34px; padding: 3px;font-size:12px;}
#update_dealer_btn{color: #fff; background-color: #c64B0B;border-radius: 3px;border: 1px solid #c64b0b;}